body{
    margin: 20px;
    width: 700px;
}

.text{
    font-size: 25px;
}

.more, .less{
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}

.less, .hidden{
    display: none;
}

.text{
    margin: 20px;
    padding: 15px;
    background-color:lightgoldenrodyellow;
}
